*.idx
*.ilg
*.ind
*.log
*.aux
*.bbl
*.blg
*.maf
*.mtc
*.mtc*
*.mtc0
*.mtc1
*.mtc2
*.mtc3
*.mtc4
*.mtc5
*.mtc6
*.mtc7
*.mtc8
*.mtc9
*.mtc10
*.mtc11
*.mtc12
*.mtc13
*.mtc14
*.mtc15
*.mtc16
*.mtc17
*.mtc18
*.mtc19
*.mtc20
*.mtc21
*.mtc22
*.mtc23
*.mtc24
*.mtc25
*.mtc26
*.mtc27
*.mtc28
*.mtc29
*.mtc30
*.out
*.gz
*.synctex.gz
*.pdf
*.toc
*.DS_Store
